{%load static%}
<!<!DOCTYPE html>

<html class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/logint.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-proxima-nova@1.0.1/style.css">
</head>

<body>
    <div class="logc">
        <h2 class="treo">Log in</h2>
        <form method="POST" class="ar">{%csrf_token%}<input name="email" type="email" placeholder="Email Address">
            <div class=""><input name="Password" type="password" placeholder="Enter Password">
                <div>
                    <button class="bb" type="submit">Log me in</button><br>{% for message in messages %}
                    <p class="errror">{{message}}
                    </p>{% endfor %}
                    <p class="fpass">Forgot your password? <a href="/reset-password">Reset it here</a></p>
        </form>
        </div>


</body>

</html>